html(lang='en')
  head
    meta(charset='UTF-8')
    title Calendar App
    // CSS
    // load bootstrap and our own personal stylesheet
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container.navbar
      .nav-list
        ul
          li
            a(href='/') Home
          li
            a(href='/register') Sign Up
          li
            a(href='/login') Log in
          li
            a(href='') Log out
      h1 Welcome To the Calendar Application
      .container
        p
          |View the months and days in any year of your choice. Start 
          a(href ='/years') here.
          a(href ='/days') or here. 
        h2
          |Register to add events to your calendar
