doctype html
html(lang='en')
  head
    title Jade
     link(rel='stylesheet', href='/stylesheets/style.css')
  body.form
    h1 Welcome to the Calendar Application
    h2 Username:
    input(type='text', name = 'username' placeholder='Username')
    br
    h2 Password
    input(type='password', placeholder='Password')
    br
    br
    p 
      | Register 
      a(href='/register') here
      |  if you don't have an account
