doctype html
head
    title Months View
  body
    table.tg
      tr
        th.tg-hjji(colspan='3') Months
      |   
      tr
        td#jan.tg-yw4l Jan
        |     
        td#feb.tg-yw4l Feb
        |     
        td#mar.tg-yw4l Mar
      |   
      tr
        td#apr.tg-yw4l Apr
        |     
        td#may.tg-yw4l May
        |     
        td#jun.tg-yw4l Jun
      |   
      tr
        td#jul.tg-yw4l Jul
        |     
        td#aug.tg-yw4l Aug
        |     
        td#sep.tg-yw4l Sep
      |   
      tr
        td#oct.tg-yw4l Oct
        |     
        td#nov.tg-yw4l Nov
        |     
        td#dec.tg-yw4l Dec
